body{
    font-family: -webkit-pictograph, system-ui;
    position: relative;
}

body::-webkit-scrollbar{
	width: 5px;
}
body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #6495ed;
    border-radius: 5px;

}

.mq-section{
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
}

.sticky-section{
    position: sticky;
    top: 0px;
    background-color: #FFF;
}

.mq-container{
    margin-bottom: 10px;
}

.mq-wrapper{
    display: flex;
    gap: 10px;
}

.mq-wrapper .mq-container{
    flex: 1;
}


.mq-header{
    margin: 0;
}
.mq-label{
    margin: 0;
    color: #6495ed;
}

.mq-value{
    background-color: #eee;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
}